In [2]:
import pandas as pd
import os
# import xml
import xmltodict

# 1차 전처리

In [3]:
# df_sn = pd.read_csv("../data/202212_202212_지역별_고령인구현황.csv")
# df_sn.shape

In [4]:
# df_sn.head()

In [5]:
# df_sn.info()

In [6]:
# df_sn = df_sn[["행정기관","전체","남자","여자","65세이상 전체","65세이상 남자","65세이상 여자"]]
# df_sn.head()

In [7]:
# df_sn.to_csv("../data/지역별_고령인구현황_0.csv")

# 2차 전처리

In [9]:
# df_sn = pd.read_csv("../data/지역별_고령인구현황_0.csv",index_col=0)
# # print(df_hh.shape)
# df_sn.head()

              행정기관       전체       남자       여자  65세이상 전체  65세이상 남자  65세이상 여자
0          서울특별시    9428372  4570048  4858324   1658207    734417    923790
1       서울특별시 종로구    141379    68395    72984     27704     12448     15256
2  서울특별시 종로구 청운효자동    11628     5347     6281      2137       883      1254
3    서울특별시 종로구 사직동     9087     4038     5049      1787       776      1011
4    서울특별시 종로구 삼청동     2331     1112     1219       596       264       332

In [10]:
# df_sn.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3871 entries, 0 to 3870
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   행정기관      3871 non-null   object
 1   전체        3871 non-null   int64
 2   남자        3871 non-null   int64
 3   여자        3871 non-null   int64
 4   65세이상 전체  3871 non-null   int64
 5   65세이상 남자  3871 non-null   int64
 6   65세이상 여자  3871 non-null   int64
dtypes: int64(6), object(1)
memory usage: 241.9+ KB

In [11]:
# def split_addr(x):
#     addr = x.split()
#     # print(addr)
#     # df = pd.DataFrame(columns=["시도","시구","동읍면"])
#     size = len(addr)
#     if size == 1:
#         return addr[0], None, None
#     elif size == 2:
#         if addr[0] == "세종특별자치시":
#             return addr[0], None, addr[1]
#         else:
#             return addr[0], addr[1], None
#     elif size >= 3:
#         return addr[0], addr[1], addr[2]
    
#     return None, None, None

In [12]:
# df_sn["시도"],df_sn["시구"],df_sn["동읍면"] = zip(*df_sn["행정기관"].map(split_addr))
# df_sn.head()

,행정기관,전체,남자,여자,65세이상 전체,65세이상 남자,65세이상 여자,시도,시구,동읍면
0,서울특별시,9428372,4570048,4858324,1658207,734417,923790,서울특별시,None,None
1,서울특별시 종로구,141379,68395,72984,27704,12448,15256,서울특별시,종로구,None
2,서울특별시 종로구 청운효자동,11628,5347,6281,2137,883,1254,서울특별시,종로구,청운효자동
3,서울특별시 종로구 사직동,9087,4038,5049,1787,776,1011,서울특별시,종로구,사직동
4,서울특별시 종로구 삼청동,2331,1112,1219,596,264,332,서울특별시,종로구,삼청동

In [13]:
# list_col = [
# "행정기관",
# "시도",
# "시구",
# "동읍면",
# "전체",
# "남자",
# "여자",
# "65세이상 전체",
# "65세이상 남자",
# "65세이상 여자"
# ]

In [14]:
# df_sn = df_sn[list_col]
# # # df_res = df_hh.set_index("번호")
# # df_res = df_res.dropna(subset=["소재지전체주소","사업장명"]).reset_index(drop=True)
# df_sn.head()

,행정기관,시도,시구,동읍면,전체,남자,여자,65세이상 전체,65세이상 남자,65세이상 여자
0,서울특별시,서울특별시,None,None,9428372,4570048,4858324,1658207,734417,923790
1,서울특별시 종로구,서울특별시,종로구,None,141379,68395,72984,27704,12448,15256
2,서울특별시 종로구 청운효자동,서울특별시,종로구,청운효자동,11628,5347,6281,2137,883,1254
3,서울특별시 종로구 사직동,서울특별시,종로구,사직동,9087,4038,5049,1787,776,1011
4,서울특별시 종로구 삼청동,서울특별시,종로구,삼청동,2331,1112,1219,596,264,332

In [15]:
# dict_rename = {
# "행정기관":"addr",
# "시도":"sido",
# "시구":"sigu",
# "동읍면":"dongmyun",
# "전체세대":"total",
# "전체":"total",
# "남자":"male",
# "여자":"female",
# "65세이상 전체":"over65_total",
# "65세이상 남자":"over65_male",
# "65세이상 여자":"over65_female"
# }

In [16]:
# df_sn = df_sn.rename(columns=dict_rename)
# df_sn.head()

,addr,sido,sigu,dongmyun,total,male,female,over65_total,over65_male,over65_female
0,서울특별시,서울특별시,None,None,9428372,4570048,4858324,1658207,734417,923790
1,서울특별시 종로구,서울특별시,종로구,None,141379,68395,72984,27704,12448,15256
2,서울특별시 종로구 청운효자동,서울특별시,종로구,청운효자동,11628,5347,6281,2137,883,1254
3,서울특별시 종로구 사직동,서울특별시,종로구,사직동,9087,4038,5049,1787,776,1011
4,서울특별시 종로구 삼청동,서울특별시,종로구,삼청동,2331,1112,1219,596,264,332

In [17]:
# df_sn.to_csv("../data/지역별_고령인구현황_1.csv")

# 3차 전처리

In [22]:
df = pd.read_csv("../data/지역별_고령인구현황_1.csv",index_col=0)
# print(df_hh.shape)
df.head()

,addr,sido,sigu,dongmyun,total,male,female,over65_total,over65_male,over65_female
0,서울특별시,서울특별시,NaN,NaN,9428372,4570048,4858324,1658207,734417,923790
1,서울특별시 종로구,서울특별시,종로구,NaN,141379,68395,72984,27704,12448,15256
2,서울특별시 종로구 청운효자동,서울특별시,종로구,청운효자동,11628,5347,6281,2137,883,1254
3,서울특별시 종로구 사직동,서울특별시,종로구,사직동,9087,4038,5049,1787,776,1011
4,서울특별시 종로구 삼청동,서울특별시,종로구,삼청동,2331,1112,1219,596,264,332

In [24]:
def split_addr(x):
    addr = x.split()
    # size = len(addr)
    sido, sigu, sigu2, dongmyun = "", "", "", ""
    for area in addr:
        if dongmyun != "": break

        lw = area[-1]
        if lw == "도":
            if sido == "":
                sido = area
        elif lw == "시":
            if sido == "":
                sido = area
            elif sigu == "":
                sigu = area
            elif sigu2 == "":
                sigu2 = area
        elif lw == "구":
            if sigu == "":
                sigu = area
            elif sigu2 == "":
                sigu2 = area
        elif lw in ["동","읍","면"]:
            if dongmyun == "":
                dongmyun = area
    
    return sido, sigu, sigu2, dongmyun

In [25]:
df["sido"],df["sigu"],df["sigu2"],df["dongmyun"] = zip(*df["addr"].map(split_addr))
df.head()

,addr,sido,sigu,dongmyun,total,male,female,over65_total,over65_male,over65_female,sigu2
0,서울특별시,서울특별시,,,9428372,4570048,4858324,1658207,734417,923790,
1,서울특별시 종로구,서울특별시,종로구,,141379,68395,72984,27704,12448,15256,
2,서울특별시 종로구 청운효자동,서울특별시,종로구,청운효자동,11628,5347,6281,2137,883,1254,
3,서울특별시 종로구 사직동,서울특별시,종로구,사직동,9087,4038,5049,1787,776,1011,
4,서울특별시 종로구 삼청동,서울특별시,종로구,삼청동,2331,1112,1219,596,264,332,

In [27]:
list_col_order =[
    "addr",
    "sido",
    "sigu",
    "sigu2",
    "dongmyun",
    "total",
    "male",
    "female",
    "over65_total",
    "over65_male",
    "over65_female",
]

In [28]:
df = df[list_col_order]
df.head()

,addr,sido,sigu,sigu2,total,male,female,over65_total,over65_male,over65_female
0,서울특별시,서울특별시,,,9428372,4570048,4858324,1658207,734417,923790
1,서울특별시 종로구,서울특별시,종로구,,141379,68395,72984,27704,12448,15256
2,서울특별시 종로구 청운효자동,서울특별시,종로구,,11628,5347,6281,2137,883,1254
3,서울특별시 종로구 사직동,서울특별시,종로구,,9087,4038,5049,1787,776,1011
4,서울특별시 종로구 삼청동,서울특별시,종로구,,2331,1112,1219,596,264,332

In [ ]:
df.to_csv("../data/지역별_고령인구현황_2.csv")